body{
  font-family: $opensans;
  font-size: 100%;

  a{
    text-decoration: none;
    color: $black;
  }
  p{
    font-size: 1em;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  img{
    max-width: 100%;
  }
}
// header
header{
  height: 80px;
}
// banner
#banner{
  color: $white;
  background-size: cover;

  max-width: 100%;
  height: auto;
}
// footer
footer{

}
