// header
header{
  .menubar{
    height: 60px;
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(space-between);
  }
}
// haupt menu
#menu-haupt{
  height: 100%;
  @include display-flex(flex);
  @include align-items(center);
  @include justify-content(space-between);
  li{


  }
  a{
    display: block;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    // height: 100%;
    // padding:20px;
    &:hover{
      background-color: $red;
      color: $white;
    }
  }
}
// banner
#banner{
  color: $white;
  background-size: cover;
  padding: 60px 0;
  max-width: 100%;
  height: auto;
  h1{
    margin-bottom: 0.5em;
  }
  p{
    margin-bottom: 1em;
  }
  button{
    @extend %button-standard;
  }
}
// skills
#gallery-1{
  padding: 2em 0;

  @include display-flex(flex);
  @include align-items(center);
  @include flex-wrap(wrap);
  & > *{
    margin-right: 1em;
    margin-bottom: 1em;
    @include mobile{

      img{}
    }
    @include mobileBig{
      margin-right: 1.5em;
      margin-bottom: 1.5em;
    }
    @include tablet{
      margin-right: 2em;
      margin-bottom: 2em;
    }
    @include desktop{
      margin-right:3em;
      margin-bottom: 3em;
    }
  }
  &:last-child{
    margin-right: 0;
  }
}
